.preview-container {
  width: 45%;

  #title {
    color: white;
    margin-bottom: 28px;
  }

  #preview {
    border-radius: 10px;
    height: 800px;
    background-color: white;
    padding: 10px;
    overflow-x:scroll;

    h1 {
      padding-bottom: 3px;
      border-bottom: 3px solid purple;
      margin-bottom: 5px;
    }

    h2 {
      padding-bottom: 2px;
      border-bottom: 2px solid purple;
      margin-bottom: 5px;
    }

    h3 {
      padding-bottom: 1px;
      border-bottom: 1px solid purple;
      margin-bottom: 5px;
    }

    code {
      background-color: black;
      color: white;
    }

    pre {
      background-color: black;
    }

    p {
      margin: 15px 0;

      img {
        max-width: 100%;
      }
    }
    
    table, th, td {
      padding: 2px;
      border: 1px solid black;
    }

    table {
      margin: 10px 0;
    }

    blockquote {
      border:dashed 3px teal;
      padding: 5px;
    }
  }
}